<volist name="data" id="value">
    <tr>
        <td class="num">{$value.book_id}</td>
        <td class="num">{$value.book_name}</td>
        <td class="num">{$value.author}</td>
        <td class="num">{$value.nick_name}</td>
        <td class="num">{$value.isgood}</td>
        <td class="num">
            <a href='__CONTROLLER__/download/id/{$value.book_id}'>附件下载</a>
        </td>
        <td class="num">{$value.upload_time|date="Y-m-d H:i:s",###}</td>
        <td class="num">
            <if condition="$value.is_show eq 0">正在审核
                <elseif condition="$value.is_show eq 1"/>审核通过
                <elseif condition="$value.is_show eq 2"/>审核未通过
            </if>
        </td>
        <td class="num">{$value.download_times}</td>
        <td class="num">{$value.update_time|date="Y-m-d H:i:s",###}</td>
        <td class="num">{$value.cat_name}</td>
        <td class="num">
            <a href="__CONTROLLER__/auditok/id/{$value.book_id}">通过</a>
            |
            <a href="__CONTROLLER__/auditno/id/{$value.book_id}">未通过</a>
        </td>

    </tr>
</volist>