<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="__HOMECSS__/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_content_right">
<for start="1" end="5">
        	<div class="templatemo_product_box">
            	<h1>《诛仙》  <span>(作者：萧鼎)</span><b>分类</b></h1>
   	            <img src="__HOMEIMG__/templatemo_image_01.jpg" alt="image" />
                <div class="product_info">
                	<p>一根烧火棍挑起的新江湖...<br>一根烧火棍挑起的新江湖...</p>
                  <h3>下载量：1000</h3>
                    <div class="buy_now_button"><a href="details.html">书籍详情</a></div>
                    <div class="detail_button"><a href="details.html">下载</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
                <if condition="$i%2==1">
            <div class="cleaner_with_width">&nbsp;</div>
                    <else/>
                    <div class="cleaner_with_height">&nbsp;</div>
                </if>
            </for>

            <div class="cleaner_with_height">&nbsp;</div>

            <a href="details.html"><img src="__HOMEIMG__/templatemo_ads.jpg" alt="ads" /></a>
</div> <!-- end of content right -->

</body>
</html>